


.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%
}












@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    to {
        stroke-dashoffset: -150px
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    to {
        stroke-dashoffset: -150px
    }
}

.form-submit__text {
    position: relative;
    z-index: 1;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    -webkit-transition: opacity .3s ease .5s;
    transition: opacity .3s ease .5s
}

.form-submit__shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 8.375rem;
    height: 3.25rem
}

.form-submit__polymorph {
    -webkit-transition: fill .3s ease, stroke .3s ease;
    transition: fill .3s ease, stroke .3s ease
}

.toggle-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: -.9375rem;
    margin-right: -.9375rem
}

@media only screen and (min-width:48em) {
    .toggle-group {
        margin-left: -1.5625rem;
        margin-right: -1.5625rem
    }
}

.toggle {
    position: relative;
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: .9375rem;
    padding-right: .9375rem;
    overflow: hidden
}

@media only screen and (min-width:48em) {
    .toggle {
        padding-left: 1.5625rem;
        padding-right: 1.5625rem
    }
}

.toggle--big .toggle__text {
    font-size: .875rem;
    line-height: 1.4;
    color: #333;
    font-weight: 400;
    border: 2px solid #f2f2f2
}

.toggle--big .toggle__text:after {
    display: none
}

.toggle--big .toggle__checkbox:checked~.toggle__text {
    background-color: #52c2be;
    color: #fff;
    border-color: #52c2be
}

.toggle__text {
    position: relative;
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    color: #d0d0d0;
    line-height: 1;
    padding: .9375rem;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease
}

@media only screen and (min-width:48em) {
    .toggle__text {
        padding: .9375rem 1.25rem
    }
}

.toggle__text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #b1b1b1;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease
}

.toggle__checkbox {
    position: absolute;
    left: -9999px
}

.toggle__checkbox:checked~.toggle__text {
    color: #52c2be
}

.toggle__checkbox:checked~.toggle__text:after {
    background-color: #52c2be
}

.success-message {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.form--done .success-message {
    opacity: 1;
    pointer-events: auto
}

.success-message__title {
    font-family: Cairo, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: #52c2be;
    margin-bottom: .625rem
}

.success-message__description {
    font-size: .875rem;
    margin: 0
}

.image-mask {
    position: relative;
    display: block;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #eee;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.image-mask:after,
.image-mask:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    will-change: transform;
    -webkit-transition: -webkit-transform .8s ease;
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease, -webkit-transform .8s ease
}

.image-mask:before {
    background-color: #fff
}

.image-mask:after {
    background-color: #52c2be;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.image-mask--delay:after,
.image-mask--delay:before {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.image-mask--active:after,
.image-mask--active:before,
.image-mask--left:after,
.in-view--active .image-mask:after,
.in-view--active .image-mask:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.image-mask--left.image-mask--active:after,
.image-mask--left.image-mask--active:before,
.in-view--active .image-mask--left:after,
.in-view--active .image-mask--left:before {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.in-view__box,
.in-view__button,
.in-view__description,
.in-view__title {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-transition: transform .3s ease, opacity .3s ease;
    transition: transform .3s ease, opacity .3s ease
}

.in-view--active .in-view__box,
.in-view--active .in-view__button,
.in-view--active .in-view__description,
.in-view--active .in-view__title {
    -webkit-transform: none;
    transform: none;
    opacity: 1
}

.in-view__description {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.in-view__button {
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.in-view__shape {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    -webkit-transition: transform .6s ease .6s, opacity .6s ease .6s;
    transition: transform .6s ease .6s, opacity .6s ease .6s
}

.in-view--active .in-view__shape {
    -webkit-transform: none;
    transform: none;
    opacity: 1
}

.in-view__shape--left {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0)
}

.in-view__box {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.in-view__logo {
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
    opacity: 0;
    -webkit-transition: transform .3s ease .6s, opacity .3s ease .6s;
    transition: transform .3s ease .6s, opacity .3s ease .6s
}

.in-view--active .in-view__logo {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

@media only screen and (min-width:62em) {
    .home {
        margin-top: -3.125rem
    }
}

.headline {
    position: relative;
    padding-bottom: 3.125rem;
    margin-bottom: 7.5rem
}

@media only screen and (min-width:48em) {
    .headline {
        padding-bottom: 6.25rem;
        margin-bottom: 6.25rem
    }
}

.headline__content {
    max-width: 100%;
    width: 27.5rem
}

.headline__title {
    line-height: 1
}

.headline__shape {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 100%;
    height: 1.875rem;
    background-color: #52c2be
}

@media only screen and (min-width:48em) {
    .headline__shape {
        top: 0;
        left: 65%;
        height: 6.25rem
    }
}

@media only screen and (min-width:62em) {
    .headline__shape {
        left: 50%
    }
}

.headline__shape--2 {
    bottom: 1.25rem;
    left: 60%;
    background-color: #2c44a0
}

@media only screen and (min-width:48em) {
    .headline__shape--2 {
        top: 20%;
        left: 75%
    }
}

@media only screen and (min-width:62em) {
    .headline__shape--2 {
        left: 60%
    }
}

.headline__shape {
    opacity: 1;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0)
}

.in-view--active .headline__shape {
    -webkit-transform: none;
    transform: none;
    opacity: 1
}

.headline__shape--2 {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.home-consortium {
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .home-consortium {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media only screen and (min-width:62em) {
    .home-consortium {
        margin-bottom: 12.5rem
    }
}

.home-consortium-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3.125rem
}

@media only screen and (min-width:48em) {
    .home-consortium-images {
        margin-bottom: 0
    }
}

.home-consortium__image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 8.125rem;
    height: 13.875rem
}

@media only screen and (min-width:36em) {
    .home-consortium__image {
        height: 27.5rem;
        width: 15.9375rem
    }
}

@media only screen and (min-width:48em) {
    .home-consortium__image {
        width: 8.125rem;
        height: 13.875rem
    }
}

@media only screen and (min-width:62em) {
    .home-consortium__image {
        height: 27.5rem;
        width: 15.9375rem
    }
}

.home-consortium__image+.home-consortium__image {
    margin-left: 2.5rem
}

@media only screen and (min-width:48em) {
    .home-consortium__image+.home-consortium__image {
        margin-left: 2.5rem
    }
}

.home-consortium__image--offset {
    position: relative;
    top: -3.125rem;
    margin-left: -1.25rem
}

@media only screen and (min-width:62em) {
    .home-consortium__image--offset {
        top: -6.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 17.0625rem;
        margin-left: 0
    }
}

@media only screen and (min-width:48em) {
    .home-consortium__content {
        margin-left: 3.125rem
    }
}

@media only screen and (min-width:75em) {
    .home-consortium__content {
        margin-left: 6.25rem
    }
}

.home-consortium__description {
    margin-bottom: 1.875rem
}

.consulting {
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .consulting {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 12.5rem
    }
}

.consulting-content {
    max-width: 26.875rem;
    margin-bottom: 3.125rem
}

@media only screen and (min-width:48em) {
    .consulting-content {
        margin-right: 1.25rem;
        margin-bottom: 0
    }
}

.consulting-view {
    position: relative;
    max-width: 100%;
    width: 36.25rem;
    padding-top: 2.5rem;
    padding-left: .625rem
}

@media only screen and (min-width:48em) {
    .consulting-view {
        padding-top: 4.0625rem;
        padding-left: 1.875rem
    }
}

.consulting-view__brand {
    position: absolute;
    top: 0;
    left: -.5rem;
    z-index: 2;
    height: 6.25rem;
    width: 6.25rem
}

@media only screen and (min-width:48em) {
    .consulting-view__brand {
        left: 0;
        height: 12.5rem;
        width: 11.5625rem
    }
}

.consulting__description {
    margin-bottom: 1.875rem
}

.consulting-view__layer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    height: 17.5rem;
    width: 12.5rem;
    background-color: #2c44a0
}

@media only screen and (min-width:36em) {
    .consulting-view__layer {
        height: 20rem
    }
}

@media only screen and (min-width:48em) {
    .consulting-view__layer {
        height: 23.75rem
    }
}

.consulting-view__layer {
    -webkit-transition: transform .3s ease, opacity .3s ease;
    transition: transform .3s ease, opacity .3s ease
}

.in-view--active .consulting-view__layer {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.consulting-view__layer {
    -webkit-transform: translate3d(-70px, 65px, 0);
    transform: translate3d(-70px, 65px, 0)
}

.about-welcome {
    position: relative;
    width: 61.25rem;
    max-width: 100%;
    margin-bottom: 5rem
}

@media only screen and (min-width:62em) {
    .about-welcome {
        margin-bottom: 12.5rem
    }
}

.about-welcome__layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    height: 20rem;
    width: 1.875rem;
    background-color: #2c44a0
}

@media only screen and (min-width:36em) {
    .about-welcome__layer {
        height: 23.75rem;
        width: 3.75rem
    }
}

@media only screen and (min-width:48em) {
    .about-welcome__layer {
        height: 30rem;
        width: 8.125rem
    }
}

@media only screen and (min-width:62em) {
    .about-welcome__layer {
        height: 37.5rem;
        width: 9.0625rem
    }
}

.about-welcome__image {
    height: 12.5rem;
    width: 100%;
    background-position: top;
    background-color: #fff
}

@media only screen and (min-width:36em) {
    .about-welcome__image {
        height: 17.5rem
    }
}

@media only screen and (min-width:48em) {
    .about-welcome__image {
        height: 22.5rem
    }
}

@media only screen and (min-width:62em) {
    .about-welcome__image {
        height: 24.375rem
    }
}

.about-welcome__content {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: #efefef;
    margin-left: auto;
    padding: 1.875rem .9375rem
}

@media only screen and (min-width:36em) {
    .about-welcome__content {
        padding: 1.875rem
    }
}

@media only screen and (min-width:48em) {
    .about-welcome__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: calc(100% - 60px)
    }
}

@media only screen and (min-width:62em) {
    .about-welcome__content {
        padding: 6.875rem 3.75rem
    }
}

.about-welcome__text {
    margin-bottom: 0
}

@media only screen and (min-width:48em) {
    .about-welcome__text:first-child {
        width: 22.5rem;
        margin-right: 3.125rem
    }
}

@media only screen and (min-width:62em) {
    .about-welcome__text:first-child {
        margin-right: 6.25rem
    }
}

.about-welcome__text+.about-welcome__text {
    margin-top: 1.25rem
}

@media only screen and (min-width:48em) {
    .about-welcome__text+.about-welcome__text {
        margin-top: 0
    }
}

.about-welcome__text-highlight {
    display: block;
    font-weight: 700;
    margin-top: 1.875rem
}

@media only screen and (min-width:62em) {
    .about-welcome__text-highlight {
        margin-top: 3.125rem
    }
}

.about-consortium {
    margin-bottom: 6.25rem
}

@media only screen and (min-width:62em) {
    .about-consortium {
        margin-bottom: 12.5rem
    }
}

@media only screen and (min-width:48em) {
    .about-consortium-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.about-consortium__tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 39.0625rem;
    height: 15.625rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.875rem
}

@media only screen and (min-width:36em) {
    .about-consortium__tile {
        height: 21.875rem
    }
}

@media only screen and (min-width:48em) {
    .about-consortium__tile {
        height: 25rem;
        width: 25rem;
        margin-right: 3.125rem
    }
}

@media only screen and (min-width:62em) {
    .about-consortium__tile {
        width: 29.375rem
    }
}

@media only screen and (min-width:75em) {
    .about-consortium__tile {
        width: 40.625rem;
        height: 35rem;
        margin-right: 5rem
    }
}

.about-consortium__tile-image {
    height: 100%;
    width: 30rem
}

.about-consortium__tile-image:first-child {
    margin-right: 1.5625rem
}

@media only screen and (min-width:48em) {
    .about-consortium__tile-image:first-child {
        margin-right: 3.125rem
    }
}

.about-consortium__tile-image--thin {
    width: 7.5rem
}

.about-consortium__content {
    max-width: 29.375rem;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width:48em) {
    .about-consortium__content {
        margin-left: 0;
        margin-right: 0
    }
}

.about-consortium__tag {
    color: #fff;
    background-color: #2c44a0;
    margin-bottom: 2.5rem;
    padding: 3.125rem 2.5rem
}

@media only screen and (min-width:62em) {
    .about-consortium__tag {
        margin-bottom: 5rem
    }
}

.about-consortium__description--highlight {
    font-weight: 700
}

.services-preview {
    position: relative
}

.services-preview__subtitle {
    margin-bottom: 1.875rem
}

.services-preview__content {
    margin-bottom: 2.5rem
}

@media only screen and (min-width:48em) {
    .services-preview__content {
        position: absolute;
        top: 1.875rem;
        left: .9375rem
    }
}

@media only screen and (min-width:62em) {
    .services-preview__content {
        top: 7.5rem;
        left: 1.875rem
    }
}

.services-preview__description {
    font-size: 1.125rem;
    font-weight: 700
}

.services-preview__description span {
    display: block
}

.service-carousel {
    position: relative;
    max-width: 100%;
    min-height: 53.125rem;
    width: 64.0625rem;
    margin-bottom: 11.25rem;
    margin-left: auto
}

@media only screen and (min-width:62em) {
    .service-carousel {
        min-height: 56.25rem;
        padding-left: 15px
    }
}

.service-carousel__cell {
    position: relative;
    min-height: inherit
}

.service-carousel__content {
    position: absolute;
    top: 3.125rem;
    left: 0;
    z-index: 2;
    max-width: calc(100% - 30px);
    background-color: #fff;
    -webkit-box-shadow: 30px 30px 110px 3px rgba(0, 0, 0, .1);
    box-shadow: 30px 30px 110px 3px rgba(0, 0, 0, .1);
    padding: 1.875rem 1.25rem
}

@media only screen and (min-width:36em) {
    .service-carousel__content {
        padding: 2.5rem
    }
}

@media only screen and (min-width:48em) {
    .service-carousel__content {
        top: 12.5rem;
        padding: 3.75rem 2.5rem;
        -webkit-box-shadow: 30px 30px 110px 3px rgba(0, 0, 0, .2);
        box-shadow: 30px 30px 110px 3px rgba(0, 0, 0, .2)
    }
}

@media only screen and (min-width:62em) {
    .service-carousel__content {
        top: calc(50% + 70px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-width: 100%
    }
}

@media only screen and (min-width:75em) {
    .service-carousel__content {
        padding: 7.5rem 5rem;
        width: 55rem
    }
}

@media only screen and (min-width:62em) {
    .in-view--active .service-carousel__content {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.service-carousel__description {
    max-width: 100%;
    width: 19.6875rem;
    margin-bottom: 0
}

.service-carousel__description+.service-carousel__description {
    margin-top: 1.875rem
}

@media only screen and (min-width:62em) {
    .service-carousel__description+.service-carousel__description {
        margin-top: 0;
        margin-left: 5rem
    }
}

.service-carousel__image {
    min-height: inherit;
    max-width: 80%;
    width: 40.625rem;
    margin-right: -.9375rem;
    margin-left: auto
}

@media only screen and (min-width:48em) {
    .service-carousel__image {
        margin-right: 0;
        max-width: 65%
    }
}

@media only screen and (min-width:62em) {
    .service-carousel__image {
        width: 40rem;
        max-width: none
    }
}

@media only screen and (min-width:75em) {
    .service-carousel__image {
        width: 42.8125rem
    }
}

.services-preview__tag {
    position: absolute;
    bottom: 4.375rem;
    left: -2.5rem;
    width: 9.6875rem;
    -webkit-transform: rotate(-90deg) translate3d(0, -40px, 0);
    transform: rotate(-90deg) translate3d(0, -40px, 0);
    opacity: 0;
    -webkit-transition: transform .6s ease .6s, opacity .6s ease .6s;
    transition: transform .6s ease .6s, opacity .6s ease .6s
}

@media only screen and (min-width:36em) {
    .services-preview__tag {
        bottom: 2.5rem;
        left: 0
    }
}

@media only screen and (min-width:48em) {
    .services-preview__tag {
        width: 10.875rem
    }
}

@media only screen and (min-width:75em) {
    .services-preview__tag {
        bottom: 15.9375rem
    }
}

.services-preview__tag:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -2.5rem;
    height: 4.375rem;
    width: .0625rem;
    background-color: #5d5d5d
}

.in-view--active .services-preview__tag {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1
}

.services-preview__tag-description {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0
}

@media only screen and (min-width:48em) {
    .services-preview__tag-description {
        font-size: 1.125rem
    }
}

.consortium-advantages {
    position: relative;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .consortium-advantages {
        margin-bottom: 18.75rem
    }
}

.consortium-advantages-header {
    text-align: center;
    margin-bottom: 2.5rem
}

@media only screen and (min-width:48em) {
    .consortium-advantages-header {
        margin-bottom: 6.25rem
    }
}

.consortium-advantages-columns {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media only screen and (min-width:48em) {
    .consortium-advantages-columns {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.consortium-advantages__content {
    margin-top: 3.125rem
}

@media only screen and (min-width:48em) {
    .consortium-advantages__content {
        margin-top: 0;
        padding-left: 1.875rem
    }
}

@media only screen and (min-width:62em) {
    .consortium-advantages__content {
        padding-left: 4.625rem
    }
}

.consortium-advantages__image--1 {
    width: 37.5rem;
    height: 12rem
}

@media only screen and (min-width:48em) {
    .consortium-advantages__image--1 {
        height: 27.25rem
    }
}

@media only screen and (min-width:62em) {
    .consortium-advantages__image--1 {
        width: 45.625rem
    }
}

.consortium-advantages__image--2 {
    position: relative;
    left: 1.875rem;
    z-index: 2;
    width: 7.4375rem;
    height: 11.125rem;
    margin-top: -6.25rem
}

@media only screen and (min-width:48em) {
    .consortium-advantages__image--2 {
        position: absolute;
        bottom: -6.25rem;
        left: 2.5rem;
        width: 16.875rem;
        height: 25.3125rem
    }
}

.consortium-advantages__logo {
    position: absolute;
    top: 12%;
    left: 35%;
    z-index: 2;
    width: 3.0625rem;
    height: 5rem;
    fill: #fff
}

@media only screen and (min-width:36em) {
    .consortium-advantages__logo {
        left: 19%
    }
}

@media only screen and (min-width:48em) {
    .consortium-advantages__logo {
        width: 6.25rem;
        height: 10.1875rem
    }
}

@media only screen and (min-width:62em) {
    .consortium-advantages__logo {
        top: 22%;
        left: 22%
    }
}

.consortium-advantages__title:after {
    content: "";
    display: block;
    background-color: #52c2be;
    width: 6.25rem;
    height: 2px;
    margin: 0 auto;
    margin-top: .9375rem
}

.consortium-acquittance {
    position: relative;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .consortium-acquittance {
        margin-bottom: 12.5rem
    }
}

.consortium-acquittance__layer {
    display: block
}

.consortium-acquittance__layer--1 {
    width: 4.6875rem;
    height: 12.0625rem;
    background-color: #2c44a0
}

@media only screen and (min-width:48em) {
    .consortium-acquittance__layer--1 {
        width: 16.0625rem;
        height: 41.625rem
    }
}

.consortium-acquittance__layer--2 {
    position: absolute;
    left: 6.25rem;
    bottom: 25%;
    z-index: -1;
    width: 37.5rem;
    height: .3125rem;
    background-color: #52c2be
}

.consortium-acquittance__image {
    position: absolute;
    top: 1.25rem;
    right: .9375rem;
    width: 80%;
    height: 6rem
}

@media only screen and (min-width:48em) {
    .consortium-acquittance__image {
        top: 10%;
        left: 12.5rem;
        right: auto;
        width: 48.9375rem;
        height: 20.5625rem
    }
}

.consortium-acquittance__box {
    position: relative;
    z-index: 1;
    max-width: calc(100% - 30px);
    width: 27.75rem;
    background-color: #fff;
    -webkit-box-shadow: 36px 36px 90px 0 rgba(0, 0, 0, .2);
    box-shadow: 36px 36px 90px 0 rgba(0, 0, 0, .2);
    padding: 2.5rem 1.25rem;
    margin: -6.25rem auto 0
}

@media only screen and (min-width:48em) {
    .consortium-acquittance__box {
        position: absolute;
        top: 15.625rem;
        left: 4.375rem;
        max-width: 100%;
        margin: 0;
        padding: 3.75rem
    }
}

.consortium-acquittance__description {
    line-height: 2;
    margin-bottom: 0
}

@media only screen and (min-width:48em) {
    .consortium-acquittance__description {
        line-height: 1.6
    }
}

.consortium-planning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .consortium-planning {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 12.5rem
    }
}

.consortium-planning__content {
    padding-bottom: 3.75rem
}

@media only screen and (min-width:48em) {
    .consortium-planning__content {
        padding-right: 6.25rem
    }
}

.consortium-planning__description {
    margin-bottom: 0
}

.consortium-planning__image {
    width: 17.9375rem;
    height: 20.5625rem;
    background-color: #fff
}

@media only screen and (min-width:48em) {
    .consortium-planning__image {
        width: 34.1875rem;
        height: 39rem
    }
}

.simulate-viewport {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 39.375rem;
    padding-top: 5rem;
    margin-bottom: 16.875rem
}

@media only screen and (min-width:48em) {
    .simulate-viewport {
        margin-bottom: 21.875rem
    }
}

.simulate-viewport__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%
}

.simulate-viewport__description,
.simulate-viewport__title {
    color: #fff;
    text-align: center
}

.simulate-viewport__title {
    line-height: 1;
    margin-bottom: 1.25rem
}

.simulate-viewport__description {
    font-size: .875rem;
    margin-bottom: 3.125rem
}

.simulate {
    position: relative;
    width: 34.375rem;
    max-width: 100%;
    height: 38.4375rem;
    background-color: #fff;
    -webkit-box-shadow: 36px 36px 90px 0 rgba(0, 0, 0, .21);
    box-shadow: 36px 36px 90px 0 rgba(0, 0, 0, .21);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 6px;
    overflow: hidden
}

.simulate .success-message {
    padding: 3.75rem
}

.simulate__title {
    font-size: 1.125rem;
    font-family: Cairo, sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    margin-bottom: .9375rem
}

@media only screen and (min-width:48em) {
    .simulate__title {
        margin-bottom: 1.875rem
    }
}

.simulate-step {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 1.875rem .9375rem;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

@media only screen and (min-width:36em) {
    .simulate-step {
        padding: 2.5rem
    }
}

@media only screen and (min-width:48em) {
    .simulate-step {
        padding: 3.75rem
    }
}

.simulate-step--active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.simulate__group {
    margin-bottom: 1.875rem
}

.simulate-ranges {
    position: relative;
    height: 40px
}

.simulate-ranges .irs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.simulate__notice {
    font-size: .6875rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: .9375rem
}

.simulate__subtitle {
    font-size: .875rem;
    text-align: center;
    margin-bottom: 1.25rem
}

.simulate-footer {
    position: relative;
    z-index: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.simulate-back,
.simulate-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.simulate-back {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3.25rem;
    height: 3.25rem;
    background-color: #e0e0e0;
    padding: 0;
    margin-right: .625rem;
    border-radius: 1.875rem;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color .3s ease, opacity .3s ease;
    transition: background-color .3s ease, opacity .3s ease
}

.simulate-back:hover {
    background-color: #eee
}

.form--done .simulate-back,
.form--loading .simulate-back {
    opacity: 0;
    pointer-events: none
}

.simulate-back__icon {
    width: .75rem;
    fill: #37474f
}

.price-range {
    visibility: hidden;
    height: 2.5rem
}

.irs-bar,
.irs-bar-edge,
.irs-line-left,
.irs-line-mid,
.irs-line-right,
.irs-slider {
    background-image: url(images/consortium/range.png)
}

.irs-from,
.irs-single,
.irs-to {
    background-color: #52c2be
}

.irs-from:after,
.irs-single:after,
.irs-to:after {
    border-top-color: #52c2be
}

.irs-from,
.irs-max,
.irs-min,
.irs-single,
.irs-to {
    top: -2px;
    font-size: .875rem
}

.consortium-segment {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 5rem
}

@media only screen and (min-width:48em) {
    .consortium-segment {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 12.5rem
    }
}

.consortium-segment .gallery {
    width: 100%;
    height: 100%
}

@media only screen and (min-width:48em) {
    .consortium-segment .gallery {
        margin-left: 1.875rem
    }
}

@media only screen and (min-width:75em) {
    .consortium-segment .gallery {
        margin-left: 0
    }
}

.consortium-segment .gallery-icons {
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.consortium-segment.in-view--active .gallery-icons {
    opacity: 1
}

.consortium-segment .flickity-page-dots {
    bottom: -3.75rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 6.25rem
}

@media only screen and (min-width:36em) {
    .consortium-segment .flickity-page-dots {
        max-width: none;
        bottom: -2.1875rem
    }
}

@media only screen and (min-width:48em) {
    .consortium-segment .flickity-page-dots {
        left: -2.5rem;
        bottom: 1.875rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.consortium-segment .flickity-page-dots .dot+.dot {
    margin-left: 0
}

.consortium-segment__gallery {
    position: relative;
    width: 100%;
    height: 14.375rem;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:36em) {
    .consortium-segment__gallery {
        height: 25rem
    }
}

@media only screen and (min-width:48em) {
    .consortium-segment__gallery {
        width: 37rem;
        height: 28.9375rem;
        margin-bottom: 0
    }
}

.consortium-segment__layer {
    position: absolute;
    top: -1.25rem;
    left: -.9375rem;
    display: block;
    width: 70%;
    height: 4.5rem;
    background-color: #2c44a0
}

@media only screen and (min-width:48em) {
    .consortium-segment__layer {
        top: -2.0625rem;
        left: -3.125rem;
        width: 25.3125rem;
        height: 9.0625rem
    }
}

.consortium-segment__content {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    max-width: 100%;
    width: 15.625rem;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .consortium-segment__content {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        margin-bottom: 0;
        margin-left: 7.5rem
    }
}

.consortium-segment__logo {
    position: absolute;
    top: 8.75rem;
    right: .9375rem;
    z-index: 1
}

@media only screen and (min-width:48em) {
    .consortium-segment__logo {
        top: -11%;
        left: 20%;
        right: auto
    }
}

.consortium-segment__description {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0
}

.consortium-finances {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.875rem;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .consortium-finances {
        height: 43.75rem;
        padding: 6.25rem;
        margin-bottom: 12.5rem
    }
}

.consortium-finances-box {
    max-width: 100%;
    width: 34.6875rem;
    background-color: #fff;
    padding: 2.5rem
}

@media only screen and (min-width:48em) {
    .consortium-finances-box {
        height: 23.5rem;
        padding: 3.75rem
    }
}

.consortium-finances-box p:last-child {
    margin-bottom: 0
}

.consortium-finances__title {
    position: relative;
    line-height: 1
}

.consortium-finances__title:before {
    content: "";
    position: absolute;
    top: .5rem;
    right: 100%;
    display: block;
    width: 5.625rem;
    height: .125rem;
    background-color: #333;
    margin-right: 1.875rem
}

.consortium-finances__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #52c2be
}

.structuring {
    width: 68.75rem;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .structuring {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media only screen and (min-width:62em) {
    .structuring {
        margin-bottom: 11.25rem
    }
}

.structuring-content {
    max-width: 100%;
    margin-bottom: 2.5rem
}

@media only screen and (min-width:48em) {
    .structuring-content {
        width: 15.625rem;
        margin-right: 4.0625rem
    }
}

@media only screen and (min-width:62em) {
    .structuring-content {
        width: 15.625rem
    }
}

.structuring-view {
    position: relative;
    max-width: 100%;
    width: 43.75rem
}

@media only screen and (min-width:36em) {
    .structuring-view {
        padding-left: 2.5rem
    }
}

@media only screen and (min-width:62em) {
    .structuring-view {
        padding-left: 4.375rem
    }
}

.structuring__layer {
    position: absolute;
    bottom: -1.25rem;
    left: -.9375rem;
    width: 5rem;
    height: 17.5rem;
    background-color: #eee;
    z-index: -1
}

@media only screen and (min-width:36em) {
    .structuring__layer {
        bottom: -2.5rem;
        left: 0
    }
}

@media only screen and (min-width:48em) {
    .structuring__layer {
        width: 10.3125rem;
        height: 21.875rem
    }
}

@media only screen and (min-width:62em) {
    .structuring__layer {
        height: 31.25rem
    }
}

.structuring__image {
    height: 25rem;
    width: 32.5rem;
    max-width: 100%
}

@media only screen and (min-width:62em) {
    .structuring__image {
        height: 43.125rem
    }
}

.structuring__tag {
    position: absolute;
    right: -.9375rem;
    bottom: 4.375rem;
    z-index: 1;
    max-width: calc(100% - 25px);
    width: 21.875rem;
    color: #fff;
    background-color: #2c44a0;
    margin-bottom: 0;
    padding: 1.25rem 1.875rem
}

@media only screen and (min-width:36em) {
    .structuring__tag {
        right: 2.5rem
    }
}

@media only screen and (min-width:48em) {
    .structuring__tag {
        top: calc(50% + 100px);
        bottom: auto;
        right: 0;
        max-width: none;
        padding: 2.5rem 2.8125rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.monitoring {
    position: relative;
    width: 66.25rem;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:62em) {
    .monitoring {
        margin-bottom: 11.875rem
    }
}

.monitoring-content {
    margin-bottom: 2.5rem
}

@media only screen and (min-width:62em) {
    .monitoring-content {
        position: absolute;
        top: 9.6875rem;
        right: 3.75rem;
        max-width: 15rem
    }
}

@media only screen and (min-width:75em) {
    .monitoring-content {
        right: .9375rem
    }
}

.monitoring__logo-alternative {
    position: absolute;
    top: 0;
    left: -.625rem;
    z-index: 2;
    height: 4.375rem;
    width: 11.25rem
}

@media only screen and (min-width:36em) {
    .monitoring__logo-alternative {
        height: 6.875rem;
        width: 18.75rem
    }
}

@media only screen and (min-width:48em) {
    .monitoring__logo-alternative {
        left: 0
    }
}

@media only screen and (min-width:62em) {
    .monitoring__logo-alternative {
        height: 10.1875rem;
        width: 29.6875rem;
        left: -1.875rem
    }
}

.monitoring-view {
    position: relative;
    max-width: 100%;
    width: 43.75rem;
    padding-top: 1.875rem
}

@media only screen and (min-width:48em) {
    .monitoring-view {
        padding-top: 3.125rem;
        padding-left: 1.875rem
    }
}

@media only screen and (min-width:62em) {
    .monitoring-view {
        padding-top: 4.6875rem
    }
}

.monitoring-view__image {
    height: 15.625rem;
    width: 37.5rem
}

@media only screen and (min-width:36em) {
    .monitoring-view__image {
        height: 21.875rem
    }
}

@media only screen and (min-width:62em) {
    .monitoring-view__image {
        height: 28.75rem
    }
}

@media only screen and (min-width:75em) {
    .monitoring-view__image {
        width: 42.5rem
    }
}

.monitoring-info {
    position: relative;
    z-index: 3;
    width: 16.875rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 60px -5px rgba(0, 0, 0, .1);
    box-shadow: 0 0 60px -5px rgba(0, 0, 0, .1);
    margin-top: -4.375rem;
    margin-left: auto;
    margin-right: -.9375rem;
    padding: 1.875rem
}

@media only screen and (min-width:36em) {
    .monitoring-info {
        width: 22.5rem
    }
}

@media only screen and (min-width:48em) {
    .monitoring-info {
        margin-right: 0
    }
}

@media only screen and (min-width:62em) {
    .monitoring-info {
        width: 30rem;
        margin-top: -8.125rem;
        margin-right: -9.375rem;
        padding: 4.375rem 5.625rem
    }
}

@media only screen and (min-width:75em) {
    .monitoring-info {
        margin-right: -16.875rem
    }
}

.faq-wrapper {
    position: relative;
    margin-bottom: 9.375rem
}

@media only screen and (min-width:48em) {
    .faq-wrapper {
        padding-top: 11.875rem
    }
}

@media only screen and (min-width:62em) {
    .faq-wrapper {
        margin-bottom: 8.75rem;
        padding-bottom: 7.1875rem
    }
}

.faq-list {
    position: relative;
    padding: 0;
    list-style: none
}

@media only screen and (min-width:36em) {
    .faq-list {
        max-width: 50%
    }
}

@media only screen and (min-width:48em) {
    .faq-list {
        max-width: 80%
    }
}

@media only screen and (min-width:75em) {
    .faq-list {
        max-width: none
    }
}

.faq-item {
    margin-bottom: 1.25rem;
    padding-left: 1.25rem
}

@media only screen and (min-width:62em) {
    .faq-item {
        width: 50%;
        margin-bottom: 3.125rem;
        padding-left: 5rem
    }
}

.faq-title {
    position: relative;
    max-width: 21.25rem;
    color: #bcbcbb;
    cursor: pointer;
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
    -webkit-transition: transform .3s ease, opacity .3s ease;
    transition: transform .3s ease, opacity .3s ease
}

.faq-item:first-child .faq-title,
.faq-item:first-child .faq-title:before {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.faq-item:nth-child(2) .faq-title,
.faq-item:nth-child(2) .faq-title:before {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.faq-item:nth-child(3) .faq-title,
.faq-item:nth-child(3) .faq-title:before {
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.faq-item:nth-child(4) .faq-title,
.faq-item:nth-child(4) .faq-title:before {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.faq-item:nth-child(5) .faq-title,
.faq-item:nth-child(5) .faq-title:before {
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.faq-item:nth-child(6) .faq-title,
.faq-item:nth-child(6) .faq-title:before {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s
}

.faq-item:nth-child(7) .faq-title,
.faq-item:nth-child(7) .faq-title:before {
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s
}

.faq-item:nth-child(8) .faq-title,
.faq-item:nth-child(8) .faq-title:before {
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s
}

.faq-item:nth-child(9) .faq-title,
.faq-item:nth-child(9) .faq-title:before {
    -webkit-transition-delay: 1.8s;
    transition-delay: 1.8s
}

.faq-item:nth-child(10) .faq-title,
.faq-item:nth-child(10) .faq-title:before {
    -webkit-transition-delay: 2s;
    transition-delay: 2s
}

.faq-item:nth-child(11) .faq-title,
.faq-item:nth-child(11) .faq-title:before {
    -webkit-transition-delay: 2.2s;
    transition-delay: 2.2s
}

.faq-item:nth-child(12) .faq-title,
.faq-item:nth-child(12) .faq-title:before {
    -webkit-transition-delay: 2.4s;
    transition-delay: 2.4s
}

.faq-item:nth-child(13) .faq-title,
.faq-item:nth-child(13) .faq-title:before {
    -webkit-transition-delay: 2.6s;
    transition-delay: 2.6s
}

.faq-item:nth-child(14) .faq-title,
.faq-item:nth-child(14) .faq-title:before {
    -webkit-transition-delay: 2.8s;
    transition-delay: 2.8s
}

.faq-item:nth-child(15) .faq-title,
.faq-item:nth-child(15) .faq-title:before {
    -webkit-transition-delay: 3s;
    transition-delay: 3s
}

.faq-item:nth-child(16) .faq-title,
.faq-item:nth-child(16) .faq-title:before {
    -webkit-transition-delay: 3.2s;
    transition-delay: 3.2s
}

.faq-item:nth-child(17) .faq-title,
.faq-item:nth-child(17) .faq-title:before {
    -webkit-transition-delay: 3.4s;
    transition-delay: 3.4s
}

.faq-item:nth-child(18) .faq-title,
.faq-item:nth-child(18) .faq-title:before {
    -webkit-transition-delay: 3.6s;
    transition-delay: 3.6s
}

.faq-item:nth-child(19) .faq-title,
.faq-item:nth-child(19) .faq-title:before {
    -webkit-transition-delay: 3.8s;
    transition-delay: 3.8s
}

.faq-item:nth-child(20) .faq-title,
.faq-item:nth-child(20) .faq-title:before {
    -webkit-transition-delay: 4s;
    transition-delay: 4s
}

.in-view--active .faq-title,
.in-view--active .faq-title:before {
    -webkit-transform: none;
    transform: none;
    opacity: 1
}

.faq-title:before {
    content: "";
    position: absolute;
    top: .8125rem;
    left: -5rem;
    height: 1px;
    width: 3.75rem;
    background-color: #7d7d7d;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
    -webkit-transition: transform .3s ease, opacity .3s ease;
    transition: transform .3s ease, opacity .3s ease
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: max-height .3s ease, opacity .3s ease;
    transition: max-height .3s ease, opacity .3s ease
}

@media only screen and (min-width:48em) {
    .faq-content {
        max-width: 19.6875rem
    }
}

@media only screen and (min-width:62em) {
    .faq-content {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        max-height: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .3s ease, visibility .3s ease;
        transition: opacity .3s ease, visibility .3s ease;
        overflow: initial
    }
}

.faq-item--active .faq-title {
    color: #333
}

.faq-item--active .faq-content {
    max-height: 18.75rem
}

.in-view--active .faq-item--active .faq-content {
    opacity: 1;
    visibility: visible;
    max-height: none
}

.brand-item {
    position: relative;
    max-width: 18.125rem;
    margin-left: auto;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.in-view--active .brand-item {
    opacity: 1
}

@media only screen and (min-width:36em) {
    .brand-item {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        max-width: none
    }
}

@media only screen and (min-width:48em) {
    .brand-item {
        position: absolute;
        top: 2.5rem;
        bottom: auto
    }
}

.brand-image {
    display: block;
    height: 21.875rem;
    width: 12.1875rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-left: auto
}

@media only screen and (min-width:48em) {
    .brand-image {
        height: 41.875rem;
        width: 23.125rem
    }
}

.brand-logo {
    position: absolute;
    bottom: -3.125rem;
    left: 0;
    height: 5.9375rem;
    width: 16.5625rem
}

@media only screen and (min-width:62em) {
    .brand-logo {
        bottom: -3.125rem;
        left: -11.875rem;
        height: 11.4375rem;
        width: 31.875rem
    }
}

.planning-tips {
    margin-bottom: 6.25rem
}

@media only screen and (min-width:62em) {
    .planning-tips {
        margin-bottom: 13.4375rem
    }
}

.planning-tips-subtitle span {
    display: block
}

.planning-item__index {
    position: absolute;
    top: 0;
    right: 1.875rem;
    width: 6.875rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase
}

.planning-item__index-number {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 4.6875rem;
    width: 3.125rem;
    color: #fff;
    font-size: 6.875rem;
    line-height: 1;
    text-shadow: -1px -1px 0 #60cbca, 1px 1px 0 #60cbca, 1px -1px 0 #60cbca, -1px 1px 0 #60cbca
}

.planning-item,
.planning-item__index-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.planning-item {
    position: relative;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%
}

@media only screen and (min-width:48em) {
    .planning-item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

@media only screen and (min-width:48em) {
    .planning-item:nth-child(2),
    .planning-item:nth-child(3) {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

.planning-item+.planning-item {
    margin-top: 3.75rem
}

@media only screen and (min-width:48em) {
    .planning-item:first-child .planning-item__content {
        padding-top: 6.875rem
    }
}

.planning-item:nth-child(2) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (min-width:48em) {
    .planning-item:nth-child(2) {
        margin-bottom: 2.5rem
    }
}

@media only screen and (min-width:62em) {
    .planning-item:nth-child(2) {
        margin-top: -5.625rem
    }
}

.planning-item:nth-child(2) .planning-item__view {
    margin-left: -.9375rem;
    padding-left: .9375rem
}

@media only screen and (min-width:48em) {
    .planning-item:nth-child(2) .planning-item__view {
        margin-left: 0;
        padding-left: 1.5625rem
    }
}

.planning-item:nth-child(2) .planning-item-layer {
    height: 85%;
    width: 7.5rem;
    background-color: #2c44a0
}

@media only screen and (min-width:48em) {
    .planning-item:nth-child(2) .planning-item-layer {
        height: 17.1875rem
    }
}

@media only screen and (min-width:48em) {
    .planning-item:nth-child(3) {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
}

.planning-item:nth-child(3) .planning-item__view {
    margin-left: -.9375rem;
    padding-left: 1.875rem
}

@media only screen and (min-width:48em) {
    .planning-item:nth-child(3) .planning-item__view {
        margin-left: 0;
        padding-left: 3.125rem
    }
}

.planning-item:nth-child(3) .planning-item-layer {
    height: 16.25rem;
    width: .9375rem;
    background-color: #52c2be
}

@media only screen and (min-width:48em) {
    .planning-item:nth-child(3) .planning-item-layer {
        height: 16.25rem;
        width: 1.25rem
    }
}

.planning-item:nth-child(3) .planning-item__content {
    padding-bottom: .625rem
}

.planning-item__view {
    position: relative;
    margin-bottom: 1.875rem;
    padding-top: 2.1875rem;
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-transition: transform .3s ease, opacity .3s ease;
    transition: transform .3s ease, opacity .3s ease
}

@media only screen and (min-width:48em) {
    .planning-item__view {
        margin-right: 4.0625rem;
        margin-bottom: 0
    }
}

.in-view--active .planning-item__view {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.planning-item__image {
    display: block
}

.planning-item-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

.planning-item__content {
    max-width: 100%;
    width: 18.125rem
}

.planning-item__description {
    margin-bottom: 0
}

.planning-item__description+.planning-item__description {
    margin-top: 1.25rem
}

.contact {
    max-width: 100%;
    width: 29.6875rem;
    margin-right: auto;
    margin-left: auto
}

@media only screen and (min-width:62em) {
    .contact {
        margin-right: 2.5rem;
        padding-top: 12.5rem
    }
}

.contact .form {
    margin-top: 2.5rem;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:62em) {
    .contact .form {
        margin-top: 4.375rem;
        margin-bottom: 4.375rem
    }
}

.contact__title {
    font-size: 1.875rem;
    margin-bottom: .3125rem
}

.contact-infos {
    display: none
}

@media only screen and (min-width:62em) {
    .contact-infos {
        display: block
    }
}

.contact-infos__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.contact-infos__row+.contact-infos__row {
    margin-top: 2.5rem
}

.contact-info {
    font-size: .875rem
}

.contact-info+.contact-info {
    margin-left: 6.25rem
}

.contact-info__label {
    display: block;
    font-size: 1.125rem;
    font-weight: 700
}

.map-wrapper {
    position: relative;
    height: 21.875rem;
    padding-left: .9375rem;
    padding-top: .9375rem;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:36em) {
    .map-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 29.0625rem;
        padding-left: 1.5625rem;
        padding-top: 1.5625rem
    }
}

@media only screen and (min-width:48em) {
    .map-wrapper {
        height: 29.0625rem
    }
}

.map-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    height: 12.5rem;
    width: 9.375rem;
    background-color: #52c2be;
    -webkit-transform: translate3d(25px, 25px, 0);
    transform: translate3d(25px, 25px, 0);
    -webkit-transition: transform .3s ease .3s;
    transition: transform .3s ease .3s
}

@media only screen and (min-width:36em) {
    .map-layer {
        height: 18.75rem
    }
}

.in-view--active .map-layer {
    -webkit-transform: none;
    transform: none
}

.map {
    height: 20.3125rem;
    max-width: 100%;
    width: 50rem;
    background-color: #e5e3df
}

@media only screen and (min-width:36em) {
    .map {
        height: 100%;
        margin-right: 1.875rem
    }
}

.map-image {
    display: none;
    height: 19.375rem;
    width: 12.8125rem;
    margin-right: 1.875rem;
    margin-left: auto
}

@media only screen and (min-width:48em) {
    .map-image {
        display: block;
        height: 100%;
        margin-right: 0;
        margin-left: 0
    }
}




@media only screen and (min-width:48em) {
    .header-row {
        height: 5rem
    }
}

@media only screen and (min-width:62em) {
    .header-row {
        height: 8.125rem
    }
}

.logo-link {
    position: absolute;
    top: 1.25rem;
    left: 1.875rem
}

@media only screen and (min-width:62em) {
    .logo-link {
        left: 1.25rem
    }
}

.logo {
    display: block;
    height: 3.6875rem;
    width: 2.375rem;
    opacity: 0;
    fill: #000;
    pointer-events: none;
    -webkit-transition: fill .3s ease .8s;
    transition: fill .3s ease .8s
}

@media only screen and (min-width:48em) {
    .logo {
        height: 5.6875rem;
        width: 3.5rem;
        fill: #000
    }
}

@media only screen and (min-width:62em) {
    .logo {
        height: 7.3125rem;
        width: 4.375rem;
        fill: #000
    }
}

.has--offcanvas .logo {
    fill: #fff;
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

@media only screen and (min-width:48em) {
    .has--offcanvas .logo {
        fill: #000
    }
}

.nav {
    margin-left: auto
}

@media only screen and (min-width:62em) {
    .nav {
        height: 3.125rem;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
}

.header .nav {
    display: none;
    overflow: hidden
}

@media only screen and (min-width:62em) {
    .header .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.nav-list {
    list-style: none;
    margin: 0;
    padding-left: 0
}

@media only screen and (min-width:62em) {
    .nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.nav-item {
    position: relative;
    opacity: 0
}

@media only screen and (min-width:62em) {
    .nav-item+.nav-item {
        margin-left: 1.25rem
    }
}

@media only screen and (min-width:62em) {
    .nav-item:before {
        content: "";
        position: absolute;
        top: -3.125rem;
        left: 50%;
        display: block;
        width: 2px;
        height: 2.6875rem;
        background-color: #52c2be;
        margin-left: -1px;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -webkit-transition: transform .3s ease;
        transition: transform .3s ease
    }
}

.nav-item--active,
.nav-item:hover {
    color: #52c2be
}

.nav-item--active:before,
.nav-item:hover:before {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.nav-item--active .nav-link,
.nav-item:hover .nav-link {
    color: #52c2be
}

.nav-link {
    display: block;
    font-size: .75rem;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    -webkit-transition: color .3s;
    transition: color .3s
}

.offcanvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #395ab0;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

@media only screen and (min-width:62em) {
    .offcanvas {
        display: none
    }
}

.offcanvas .nav {
    margin-top: 5rem;
    margin-bottom: 4.375rem;
    padding-top: 3.4375rem
}

.offcanvas .nav-item {
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1
}

.offcanvas .nav-link {
    color: #fff
}

.offcanvas-nav-item+.offcanvas-nav-item {
    margin-top: 1.25rem
}

.offcanvas-info {
    position: relative
}

.offcanvas-info__item {
    display: block;
    color: #fff;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1
}

.offcanvas-info__item span {
    display: block;
    font-size: .75rem;
    font-weight: 400;
    margin-top: .3125rem
}

.offcanvas__logo-alternative {
    position: absolute;
    right: -10.125rem;
    bottom: 0;
    height: 5.875rem;
    width: 15.625rem
}

.page-header {
    margin-bottom: 3.75rem;
    visibility: hidden
}

@media only screen and (min-width:48em) {
    .page-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media only screen and (min-width:62em) {
    .page-header {
        margin-bottom: 11.25rem
    }
}

.page-header .image-mask {
    height: 23.125rem;
    width: 53.125rem;
    padding: 1.875rem
}

@media only screen and (min-width:48em) {
    .page-header .image-mask {
        width: 28.125rem;
        height: 23.125rem;
        padding: 2.5rem 1.875rem
    }
}

@media only screen and (min-width:62em) {
    .page-header .image-mask {
        height: 29.375rem;
        width: 38.75rem
    }
}

@media only screen and (min-width:75em) {
    .page-header .image-mask {
        width: 50rem;
        height: 35.625rem
    }
}

.page-header--active {
    visibility: visible
}

.page-header__content {
    max-width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media only screen and (min-width:48em) {
    .page-header__content {
        width: 15.625rem;
        margin-right: 4.0625rem;
        padding-top: 1.875rem
    }
}

@media only screen and (min-width:62em) {
    .page-header__content {
        width: 15.625rem;
        padding-top: 13.4375rem
    }
}

.page-header__view {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    position: relative;
    max-width: 100%;
    margin-bottom: 4.375rem
}

@media only screen and (min-width:48em) {
    .page-header__view {
        margin-bottom: 0
    }
}

.page-header__title {
    color: #fff;
    font-size: 3.125rem;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 0
}

@media only screen and (min-width:62em) {
    .page-header__title {
        font-size: 4.0625rem
    }
}

@media only screen and (min-width:75em) {
    .page-header__title {
        font-size: 5rem
    }
}

.page-header__title span {
    display: block;
    opacity: 0
}

.section-subtitle {
    font-size: 1.5rem
}

@media only screen and (min-width:48em) {
    .section-subtitle {
        font-size: 1.875rem
    }
}

.section-subtitle-cairo {
    display: block;
    font-family: Cairo, sans-serif;
    font-size: .875rem;
    letter-spacing: 2px;
    text-transform: uppercase
}

.section-tagline {
    font-family: Cairo, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.25rem
}

@media only screen and (min-width:48em) {
    .section-tagline {
        font-size: 1.125rem
    }
}

.section-subtitle--bordered-bottom {
    position: relative;
    text-align: center;
    margin-bottom: 3.125rem;
    padding-bottom: 1.25rem
}

@media only screen and (min-width:62em) {
    .section-subtitle--bordered-bottom {
        margin-bottom: 6.25rem;
        padding-bottom: 2.5rem
    }
}

.section-subtitle--bordered-bottom:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: .125rem;
    width: 6.5625rem;
    background-color: #52c2be;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.page-header__image {
    display: block;
    height: 23.125rem;
    width: 53.125rem;
    max-width: 100%;
    padding: 1.875rem
}

@media only screen and (min-width:48em) {
    .page-header__image {
        width: 28.125rem;
        height: 23.125rem;
        padding: 2.5rem 1.875rem
    }
}

@media only screen and (min-width:62em) {
    .page-header__image {
        height: 29.375rem;
        width: 38.75rem
    }
}

@media only screen and (min-width:75em) {
    .page-header__image {
        height: 35.625rem;
        width: 51.25rem
    }
}

.page-header__tag {
    position: relative;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    padding-left: 1.25rem
}

@media only screen and (min-width:62em) {
    .page-header__tag {
        padding-top: 2.1875rem;
        padding-bottom: 2.1875rem;
        padding-left: 6.875rem
    }
}

.page-header__tag-layer {
    position: absolute;
    top: 0;
    right: 2.5rem;
    height: 100%;
    width: 9.375rem;
    background-color: #52c2be;
    z-index: -1
}

@media only screen and (min-width:36em) {
    .page-header__tag-layer {
        width: 13.75rem
    }
}

@media only screen and (min-width:62em) {
    .page-header__tag-layer {
        right: auto;
        left: 14.6875rem
    }
}

.page-header__tag-layer2 {
    background-color: #2c44a0
}

.page-header--alternative {
    padding-top: 2.5rem;
    padding-bottom: 1.25rem
}

@media only screen and (min-width:48em) {
    .page-header--alternative {
        padding-top: 1.25rem
    }
}

.page-header--alternative .page-header__tag {
    padding-top: 1.4375rem;
    padding-bottom: 1.25rem
}

.page-header--alternative .page-header__tag-layer {
    top: -3.75rem;
    left: -1.875rem;
    height: 5.3125rem;
    max-width: 100%;
    width: 37.5rem
}

@media only screen and (min-width:48em) {
    .page-header--alternative .page-header__tag-layer {
        top: -1.875rem;
        left: -6.25rem;
        max-width: 90%
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative .page-header__tag-layer {
        top: -3.75rem;
        left: -9.375rem;
        height: 8.125rem;
        max-width: none
    }
}

@media only screen and (min-width:48em) {
    .page-header--alternative2 .page-header__content {
        padding-top: 3.75rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative2 .page-header__content {
        padding-top: 11.875rem
    }
}

.page-header--alternative2 .page-header__tag-layer1 {
    left: 2.5rem;
    height: 2.5rem;
    width: 12.5rem
}

@media only screen and (min-width:36em) {
    .page-header--alternative2 .page-header__tag-layer1 {
        width: 21.875rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative2 .page-header__tag-layer1 {
        left: 8.125rem;
        height: 5rem
    }
}

.page-header--alternative2 .page-header__tag-layer2 {
    right: 1.875rem;
    height: 1.125rem;
    width: 8.125rem
}

@media only screen and (min-width:36em) {
    .page-header--alternative2 .page-header__tag-layer2 {
        width: 13.75rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative2 .page-header__tag-layer2 {
        left: auto;
        height: 2.5rem
    }
}

@media only screen and (min-width:75em) {
    .page-header--alternative2 .page-header__tag-layer2 {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.page-header--alternative3 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.page-header--alternative3 .page-header__highlight {
    position: absolute;
    bottom: -4.375rem;
    right: .9375rem;
    left: 20px;
    width: 16.875rem;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0
}

@media only screen and (min-width:62em) {
    .page-header--alternative3 .page-header__highlight {
        top: 12.5rem;
        right: -11.875rem;
        bottom: auto;
        left: auto;
        width: 10.625rem;
        margin-bottom: 3.125rem
    }
}

@media only screen and (min-width:75em) {
    .page-header--alternative3 .page-header__highlight {
        right: -13.75rem
    }
}

.page-header--alternative3 .page-header__view {
    margin-bottom: 8.125rem
}

.page-header--alternative3 .image-mask {
    width: 25rem;
    height: 22.75rem
}

@media only screen and (min-width:36em) {
    .page-header--alternative3 .image-mask {
        width: 28.125rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative3 .image-mask {
        height: 42.4375rem
    }
}

@media only screen and (min-width:75em) {
    .page-header--alternative3 .image-mask {
        width: 33.9375rem
    }
}

.page-header--alternative3 .page-header__tag {
    position: absolute;
    top: 50%;
    right: -.9375rem;
    width: 17.1875rem;
    height: 5rem
}

@media only screen and (min-width:36em) {
    .page-header--alternative3 .page-header__tag {
        right: 0
    }
}

@media only screen and (min-width:48em) {
    .page-header--alternative3 .page-header__tag {
        right: 120
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative3 .page-header__tag {
        width: 31.25rem;
        height: 7.8125rem;
        right: -12.5rem
    }
}

@media only screen and (min-width:75em) {
    .page-header--alternative3 .page-header__tag {
        right: -14.375rem
    }
}

.page-header--alternative3 .page-header__tag-layer {
    width: 100%
}

.page-header--alternative3 .page-header__tag-layer1 {
    left: auto;
    right: 0
}

@media only screen and (min-width:62em) {
    .page-header--alternative3 .page-header__tag-layer1 {
        right: -6.25rem
    }
}

@media only screen and (min-width:75em) {
    .page-header--alternative3 .page-header__tag-layer1 {
        right: 0
    }
}

.page-header--alternative3 .page-header__tag-layer2 {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    height: 1.875rem
}

@media only screen and (min-width:36em) {
    .page-header--alternative3 .page-header__tag-layer2 {
        bottom: -1.875rem;
        right: 2.5rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative3 .page-header__tag-layer2 {
        height: 3.375rem
    }
}

.page-header--alternative4 .page-header__tag {
    padding-top: 3.75rem
}

@media only screen and (min-width:36em) {
    .page-header--alternative4 .page-header__tag {
        padding-top: 2.1875rem
    }
}

.page-header--alternative4 .page-header__tag-layer1 {
    top: -23.75rem;
    right: 2.5rem;
    left: auto;
    height: 26.875rem
}

@media only screen and (min-width:62em) {
    .page-header--alternative4 .page-header__tag-layer1 {
        top: -31.25rem;
        height: 35.625rem
    }
}

@media only screen and (min-width:75em) {
    .page-header--alternative4 .page-header__tag-layer1 {
        top: -37.1875rem;
        right: 7.5rem;
        height: 41.25rem
    }
}

.page-header--alternative4 .page-header__tag-layer2 {
    right: 6.875rem;
    height: 1.125rem;
    width: 8.125rem;
    background-color: #2c44a0
}

@media only screen and (min-width:36em) {
    .page-header--alternative4 .page-header__tag-layer2 {
        width: 13.75rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative4 .page-header__tag-layer2 {
        left: auto;
        height: 2.5rem
    }
}

@media only screen and (min-width:75em) {
    .page-header--alternative4 .page-header__tag-layer2 {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media only screen and (min-width:48em) {
    .page-header--alternative5 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative5 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.page-header--alternative5 .page-header__view {
    height: 25rem;
    width: 38.75rem;
    margin-right: -.9375rem;
    margin-left: -.9375rem;
    padding-left: .9375rem
}

@media only screen and (min-width:36em) {
    .page-header--alternative5 .page-header__view {
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (min-width:48em) {
    .page-header--alternative5 .page-header__view {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 4.375rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative5 .page-header__view {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        height: 40rem;
        margin-bottom: 0;
        padding-left: 2.8125rem;
        padding-bottom: 4.0625rem
    }
}

.page-header--alternative5 .page-header__image {
    height: 22.8125rem;
    width: calc(100% - 40px)
}

@media only screen and (min-width:36em) {
    .page-header--alternative5 .page-header__image {
        width: 26.875rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative5 .page-header__image {
        height: 36.25rem
    }
}

.page-header--alternative5 .page-header__layer--1,
.page-header--alternative5 .page-header__layer--2 {
    position: absolute;
    background-color: #52c2be
}

.page-header--alternative5 .page-header__layer--1 {
    bottom: 5rem;
    left: 0;
    height: 1.875rem;
    width: 8.125rem
}

@media only screen and (min-width:62em) {
    .page-header--alternative5 .page-header__layer--1 {
        bottom: 12.5rem;
        width: 13.75rem;
        height: 3.125rem
    }
}

.page-header--alternative5 .page-header__layer--2 {
    top: 3.75rem;
    right: 1.25rem;
    z-index: -1;
    height: 15rem;
    width: 3.125rem
}

@media only screen and (min-width:36em) {
    .page-header--alternative5 .page-header__layer--2 {
        right: 10rem
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative5 .page-header__layer--2 {
        top: 6.25rem;
        right: 6.25rem
    }
}

.page-header--alternative5 .page-header__image--2 {
    position: absolute;
    right: -1.875rem;
    bottom: 0;
    z-index: -1;
    display: block;
    height: 12.5rem;
    max-width: 100%;
    width: calc(100% - 30px)
}

@media only screen and (min-width:36em) {
    .page-header--alternative5 .page-header__image--2 {
        right: 0
    }
}

@media only screen and (min-width:62em) {
    .page-header--alternative5 .page-header__image--2 {
        height: 19.375rem;
        width: 26.875rem
    }
}

@media only screen and (min-width:75em) {
    .page-header--alternative5 .page-header__image--2 {
        width: 33.4375rem
    }
}

.page-header__tag-text {
    margin-bottom: 0
}

.hero {
    position: relative;
    z-index: 1;
    height: calc(100vh - 80px - 50px);
    padding: 0;
    margin-bottom: 6.25rem
}

@media only screen and (min-width:48em) {
    .hero {
        margin-bottom: 12.5rem
    }
}

.hero .dots {
    position: absolute;
    top: calc(100% + 20px);
    left: .9375rem;
    opacity: 0
}

@media only screen and (min-width:62em) {
    .hero .dots {
        top: 3.125rem;
        right: -1.75rem;
        left: auto
    }
}

.hero .scroll-button {
    opacity: 0
}

.hero-cells {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.hero-cell {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    width: 34.375rem;
    visibility: hidden;
    padding-left: .9375rem;
    padding-right: .9375rem
}

.hero-cell--active {
    visibility: visible
}

.hero__button,
.hero__description,
.hero__title {
    opacity: 0;
    will-change: transform, opacity
}

.hero__title {
    font-weight: 300;
    color: #fff;
    line-height: 1;
    margin-bottom: 1.25rem
}

@media only screen and (min-width:62em) {
    .hero__title {
        font-size: 2.5rem;
        margin-bottom: 1.875rem
    }
}

.hero__description {
    color: #fff;
    line-height: 1.4;
    margin-bottom: 1.875rem
}

@media only screen and (min-width:62em) {
    .hero__description {
        font-size: 1.25rem;
        margin-bottom: 2.5rem
    }
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-color: #eee;
    opacity: 0
}

.hero__image--active {
    opacity: 1
}

.hero__overlay {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #2c44a0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform
}

.hero__logo,
.hero__overlay {
    position: absolute;
    display: block
}

.hero__logo {
    left: 1.25rem;
    bottom: .625rem;
    z-index: 3;
    width: 18.75rem;
    pointer-events: none
}

@media only screen and (min-width:48em) {
    .hero__logo {
        left: -.9375rem;
        bottom: 5rem;
        width: 25rem
    }
}

.hero__logo .letter,
.hero__logo .shadow {
    opacity: 0
}

.hero__shape {
    position: absolute;
    bottom: -1.25rem;
    right: -1.25rem;
    z-index: -1;
    width: 18rem;
    height: 21.875rem;
    background-color: #151515;
    opacity: 0
}

.dots,
.flickity-page-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

@media only screen and (min-width:62em) {
    .dots,
    .flickity-page-dots {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.dot,
.flickity-page-dots .dot {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    width: 1.375rem;
    height: 1.375rem;
    background-color: transparent;
    opacity: 1;
    margin: 0;
    cursor: pointer;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease
}

.dot+.dot,
.dot+.flickity-page-dots .dot,
.flickity-page-dots .dot+.dot,
.flickity-page-dots .dot+.flickity-page-dots .dot {
    margin-left: .3125rem
}

@media only screen and (min-width:62em) {
    .dot+.dot,
    .dot+.flickity-page-dots .dot,
    .flickity-page-dots .dot+.dot,
    .flickity-page-dots .dot+.flickity-page-dots .dot {
        margin-top: .3125rem;
        margin-left: 0
    }
}

.dot:hover:after,
.flickity-page-dots .dot:hover:after {
    background-color: #7bbacf
}

.dot:after,
.flickity-page-dots .dot:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 50%;
    background-color: #d0d0d0;
    width: .5rem;
    height: .5rem;
    margin-left: -4px;
    margin-top: -4px;
    -webkit-transition: background-color .6s ease;
    transition: background-color .6s ease
}

.dot svg,
.flickity-page-dots .dot svg {
    pointer-events: none
}

.flickity-page-dots {
    width: auto;
    bottom: -2.1875rem
}

@media only screen and (min-width:48em) {
    .flickity-page-dots {
        left: calc(100% + 15px);
        bottom: 1.875rem
    }
}

.dot__circle {
    fill: transparent;
    stroke: #7bbacf;
    stroke-miterlimit: 10;
    stroke-dasharray: 69;
    stroke-dashoffset: 69;
    -webkit-transition: stroke-dashoffset .6s ease;
    transition: stroke-dashoffset .6s ease
}

.dot--active:after,
.flickity-page-dots .dot.is-selected:after {
    background-color: #7bbacf;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.dot--active .dot__circle,
.flickity-page-dots .dot.is-selected .dot__circle {
    stroke-dashoffset: 138;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.button {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    padding: .9375rem 2.0625rem;
    background-color: #2c44a0;
    border-radius: 40px;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s ease, background-color .3s ease;
    transition: color .3s ease, background-color .3s ease
}

@media only screen and (min-width:48em) {
    .button {
        padding: 1.25rem 2.75rem
    }
}

.button:hover {
    color: #fff;
    background-color: #52c2be
}

.button--small {
    font-size: .75rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem
}

.button--light {
    color: #2c44a0;
    background-color: #fff
}

.button--ghost {
    border: 2px solid #2c44a0;
    background-color: transparent;
    color: #2c44a0
}

.button--ghost:hover {
    background-color: #2c44a0
}

.scroll-button {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transform: rotate(-90deg) translate(14px, -60px);
    transform: rotate(-90deg) translate(14px, -60px)
}

.scroll-button__line {
    display: block;
    width: 140%;
    height: 1px;
    background-color: #000
}

.hamburger {
    position: absolute;
    top: -.125rem;
    right: .9375rem;
    width: 4.25rem;
    height: 4.25rem;
    margin: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: scale(.65);
    transform: scale(.65)
}

@media only screen and (min-width:48em) {
    .hamburger {
        top: .5rem
    }
}

@media only screen and (min-width:62em) {
    .hamburger {
        display: none
    }
}

.hamburger line,
.hamburger path {
    stroke: #1d1d1b;
    stroke-linecap: round
}

.hamburger-line--bottom,
.hamburger-line--top {
    position: absolute;
    display: block;
    height: .25rem;
    width: 2.25rem;
    border-radius: .125rem;
    background: #1d1d1b
}

.hamburger-line--top {
    top: 1.1875rem;
    left: .875rem
}

.hamburger-line--bottom {
    top: 2.5625rem;
    left: .875rem
}

.hamburger-line--bottom,
.hamburger-line--top {
    -webkit-transform-origin: 2.125rem .125rem;
    transform-origin: 2.125rem .125rem;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .4s;
    transition: all .4s
}

.hamburger-line--middle {
    stroke-dasharray: 1 100 32 300;
    stroke-dashoffset: 101;
    -webkit-transition: all .4s;
    transition: all .4s
}

.hamburger-line {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.has--offcanvas .hamburger .hamburger-line {
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.has--offcanvas .hamburger .hamburger-line--middle {
    stroke-dasharray: 1 100 190 300;
    stroke-dashoffset: 1
}

.has--offcanvas .hamburger .hamburger-line--top {
    -webkit-transform: translateX(-4.5px) rotate(-45deg);
    transform: translateX(-4.5px) rotate(-45deg)
}

.has--offcanvas .hamburger .hamburger-line--bottom {
    -webkit-transform: translateX(-4.5px) rotate(45deg);
    transform: translateX(-4.5px) rotate(45deg)
}

.has--offcanvas .hamburger .hamburger-line--bottom,
.has--offcanvas .hamburger .hamburger-line--top {
    background: #fff
}

.has--offcanvas .hamburger line,
.has--offcanvas .hamburger path {
    stroke: #fff
}

.cta {
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.cta.in-view--active {
    opacity: 1
}

.cta__description {
    margin-bottom: .9375rem
}

.cta__description span {
    display: block
}

.cta__description span:first-child {
    font-family: Cairo, sans-serif;
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .625rem
}

.cta__description span:last-child {
    font-family: FibonSans, sans-serif;
    font-size: 1.5rem;
    text-transform: lowercase
}

.gallery {
    position: relative;
    height: 20rem;
    width: calc(100% - 40px)
}

@media only screen and (min-width:36em) {
    .gallery {
        height: 23.75rem;
        width: calc(100% - 50px)
    }
}

@media only screen and (min-width:48em) {
    .gallery {
        height: 28.75rem;
        width: calc(100% - 70px)
    }
}

.gallery .flickity-page-dots {
    opacity: 0
}

.in-view--active .gallery .flickity-page-dots {
    opacity: 1
}

.gallery-item {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #eee
}

.gallery-icons {
    position: absolute;
    right: .9375rem;
    bottom: -5rem;
    z-index: 5;
    width: 9.375rem;
    height: 9.375rem;
    background-color: #fff;
    -webkit-box-shadow: 36px 36px 90px 0 rgba(0, 0, 0, .14);
    box-shadow: 36px 36px 90px 0 rgba(0, 0, 0, .14)
}

@media only screen and (min-width:48em) {
    .gallery-icons {
        right: -6.25rem;
        bottom: -3.125rem;
        width: 13.125rem;
        height: 13.125rem
    }
}

.gallery-icons .cls-1 {
    fill: #8bc2c2
}

.gallery-icons-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: .9375rem
}

.gallery-icons-item:not(:first-child) {
    display: none
}

.flickity-enabled .gallery-icons-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.gallery-icons__icon {
    display: block;
    width: 5.625rem;
    margin-bottom: 1.25rem
}

@media only screen and (min-width:48em) {
    .gallery-icons__icon {
        width: 8.125rem
    }
}

.gallery-icons__title {
    font-weight: 700;
    text-align: center;
    margin: 0
}

@media only screen and (min-width:48em) {
    .gallery-icons__title {
        font-size: 1.125rem
    }
}

.mdl-textfield {
    position: relative;
    font-size: 16px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px 0
}

@media only screen and (min-width:62em) {
    .mdl-textfield {
        font-size: 14px
    }
}

.mdl-textfield .mdl-button {
    position: absolute;
    bottom: 20px
}

.mdl-textfield--align-right {
    text-align: right
}

.mdl-textfield--full-width {
    width: 100%
}

.mdl-textfield--expandable {
    min-width: 32px;
    width: auto;
    min-height: 32px
}

.mdl-textfield__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
    display: block;
    font-size: 16px;
    margin: 0;
    width: 100%;
    height: 2.1875rem;
    background: none;
    text-align: left;
    color: #3b5cad;
    outline: none;
    resize: none;
    border-radius: 0
}

@media only screen and (min-width:62em) {
    .mdl-textfield__input {
        font-size: 14px
    }
}

.mdl-textfield__input[type=number] {
    -moz-appearance: textfield
}

.mdl-textfield__input[type=number]::-webkit-inner-spin-button,
.mdl-textfield__input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.mdl-textfield.is-focused .mdl-textfield__input {
    outline: none
}

.parsley-error .mdl-textfield__input {
    border-color: #c20303!important;
    -webkit-box-shadow: none;
    box-shadow: none
}

.mdl-textfield.is-invalid.is-dirty .mdl-textfield__input {
    border-color: #c20303;
    -webkit-box-shadow: none;
    box-shadow: none
}

.mdl-textfield.is-disabled .mdl-textfield__input,
fieldset[disabled] .mdl-textfield .mdl-textfield__input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0, 0, 0, .65);
    color: #000
}

.mdl-textfield textarea.mdl-textfield__input {
    display: block;
    height: 2.4375rem;
    min-height: 2.25rem;
    padding-right: 2.8125rem
}

.mdl-textfield__label {
    bottom: 0;
    color: #000;
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 1.125rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    margin-bottom: 0
}

@media only screen and (min-width:62em) {
    .mdl-textfield__label {
        font-size: 14px
    }
}

.mdl-textfield.has-placeholder .mdl-textfield__label,
.mdl-textfield.is-dirty .mdl-textfield__label {
    visibility: hidden
}

.mdl-textfield--floating-label .mdl-textfield__label {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    -webkit-transition: none;
    transition: none
}

.mdl-textfield.is-disabled.is-disabled .mdl-textfield__label,
fieldset[disabled] .mdl-textfield .mdl-textfield__label {
    color: #000
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #000;
    font-size: 14px;
    top: -.5rem;
    visibility: visible
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__expandable-holder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label {
    top: -18px
}

.mdl-textfield--floating-label.is-invalid.is-dirty .mdl-textfield__label {
    color: #c20303;
    font-size: 14px
}

.parsley-error .mdl-textfield--floating-label .mdl-textfield__label {
    color: #c20303!important;
    font-size: 14px
}

.mdl-textfield__label:after {
    background-color: #3b5cad;
    bottom: 20px;
    content: "";
    height: 2px;
    left: 45%;
    position: absolute;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    visibility: hidden;
    width: 10px
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%
}

.mdl-textfield.is-invalid.is-dirty .mdl-textfield__label:after,
.parsley-error .mdl-textfield__label:after {
    background-color: #c20303
}

.mdl-textfield__label .required-marker {
    font-size: .875rem;
    vertical-align: top
}

.mdl-textfield__error {
    color: #c20303;
    position: absolute;
    font-size: 14px;
    margin-top: 3px;
    visibility: hidden;
    display: block
}

.mdl-textfield.is-invalid.is-dirty .mdl-textfield__error {
    visibility: visible
}

.mdl-textfield__expandable-holder {
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    display: inline-block;
    max-width: .1px
}

.mdl-textfield.is-dirty .mdl-textfield__expandable-holder,
.mdl-textfield.is-focused .mdl-textfield__expandable-holder {
    max-width: 600px
}

.mdl-textfield__expandable-holder .mdl-textfield__label:after {
    bottom: 0
}

.mdl-textfield__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    width: 1.25rem;
    height: 1.25rem;
    fill: #cacaca;
    -webkit-transition: fill .2s cubic-bezier(.4, 0, .2, 1);
    transition: fill .2s cubic-bezier(.4, 0, .2, 1)
}

.mdl-textfield.is-invalid.is-dirty .mdl-textfield__icon {
    fill: #c20303
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__icon,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__icon,
.mdl-textfield--floating-label.is-focused .mdl-textfield__icon {
    fill: #000
}

.mdl-textfield select {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: #696969'></polygon></svg>");
    background-size: 9px 6px;
    background-position: right -1rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: #cacaca'></polygon></svg>");
    background-position: 96% 70%
}

.footer {
    font-size: .75rem;
    line-height: 1;
    margin-top: 7.5rem
}

@media only screen and (min-width:62em) {
    .footer {
        font-size: 14px;
        margin-top: 5rem
    }
}

.footer-row {
    position: relative;
    padding-bottom: 2.1875rem
}

@media only screen and (min-width:48em) {
    .footer-row {
        padding-bottom: 2.5rem
    }
}

@media only screen and (min-width:62em) {
    .footer-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.footer-row:after,
.footer-row:before {
    content: "";
    position: absolute;
    background-color: #dbdbdb
}

.footer-row:before {
    top: 0;
    left: 15px;
    height: 100%;
    width: 2px
}

@media only screen and (min-width:62em) {
    .footer-row:before {
        left: 10px;
        width: 1px;
        background-color: #000
    }
}

.footer-row:after {
    bottom: 0;
    right: 0;
    height: 1.25rem;
    width: 90%;
    background-color: #dbdbdb
}

@media only screen and (min-width:48em) {
    .footer-row:after {
        width: 30.625rem;
        height: 1.5625rem
    }
}

@media only screen and (min-width:62em) {
    .footer-row:after {
        width: 38.75rem
    }
}

.footer-infos {
    padding-left: 1.5625rem
}

@media only screen and (min-width:62em) {
    .footer-infos {
        padding-left: .625rem
    }
}

.footer-item__address {
    margin-bottom: 0
}

.footer-item__separator:after {
    content: " | "
}

@media only screen and (min-width:48em) {
    .footer-item__separator {
        display: inline
    }
    .footer-item__separator:before {
        content: " | "
    }
}

.footer-item__wrap {
    display: block
}

@media only screen and (min-width:48em) {
    .footer-item__wrap {
        display: inline
    }
}

.footer-social {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media only screen and (min-width:48em) {
    .footer-social {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-right: 6.25rem
    }
}

@media only screen and (min-width:62em) {
    .footer-social {
        padding-right: 10rem
    }
}

.social-item {
    color: #979797;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

.social-item:hover {
    color: #3b5cad
}

.social-item+.social-item {
    margin-left: 2.1875rem
}

.sprite-icon {
    position: absolute;
    height: 0;
    width: 0
}